.light-theme {
    background-color: #f5f5f5;
    color: #000000;
}

/* Хедер и футер */
.light-theme .header,
.light-theme .footer {
    background-color: #e0e0e0;
}

/* Блоки профиля */
.light-theme .profile section {
    background-color: #ffffff;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

/* История покупок */
.light-theme .profile__purchase {
    background-color: #f0f0f0;
}

/* Форма */
.light-theme .form {
    background-color: #ffffff;
}